.button-mentors-next {
  right: var(--swiper-navigation-sides-offset, 30.5rem) !important;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.9rem;
  border-radius: 9999px;
}

.button-mentors-prev {
  left: var(--swiper-navigation-sides-offset, 30.5rem) !important;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.9rem;
  border-radius: 9999px;
}

.swiper-pagination {
  bottom: var(--swiper-pagination-bottom, -4px) !important;
}

.swiper-pagination-bullet-active {
  background-color: #262626 !important;
}

.swiper-slide .swiper-image-mentor {
  width: 170px !important;
  height: 170px;
  border-radius: 9999px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  width: auto !important;
}
.slide-mentors {
  filter: blur(1px);

  border: 4px none solid;
  border-radius: 9999px;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-slide-active img {
  border: 3px theme(colors.secondary) solid;
}

@media (min-width: 1024px) {
  .swiper-slide .swiper-image-mentor {
    width: 180px !important;
    height: 180px;
    border-radius: 9999px;
    background-color: white;
  }
}
